# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Next.js
.next/
out/
.next/cache/

# env
.env*
!.env.example

# Logs
*.log
logs/
.DS_Store
Thumbs.db

# Editor & OS
.idea/
*.swp
*.swo

# Build folders
dist/
build/

# Dependencies
.npm/
.pnp/
.pnp.js

# ESLint & Prettier cache
.eslintcache
.prettiercache

# Test & coverage
*.snap
coverage/
